@import "tailwindcss";
@theme {
  --color-gruvbox: #282828;
  --color-kahootRed: #FF5C5C;
  --color-kahootGreen: #4CAF50;
  --color-kahootYellow: #FFD64D;
  --color-kahootBlue: #0099E6;
}

body {
  background-image: url(/static/pictures/otter.jpg);
  background-size: auto;
  background-repeat: none;
}
