{{ template "head.html" .}}

<div id="socket" hx-ext="ws" ws-connect="/questions"
    class="w-screen h-screen flex justify-center items-center relative">
    {{ define "partialLobby" }}

    {{ if .RestartGame }}
    {{ template "questionInterface.html" . }}
    {{ else }}
    {{ template "body" . }}
    {{ end }}

    <div id="lobby" class="text-white">Lobby id: {{ .Lobby }}</div>
    <button hx-post="/lobby" hx-swap="innerHTML" hx-target="#socket"
        class="border-2 border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white font-semibold px-4 py-2 rounded-lg transition duration-300 ease-in-out absolute top-26 right-50">
        New game
    </button>

    <!-- <script> -->
    <!--     // TODO: the socket must be reloaded after makeing new lobby -->
    <!--     htmx.on("htmx:afterSwap", function (evt) { -->
    <!--         // document.location.reload(); -->
    <!--         let refreshLobby = document.getElementById("refresh-lobby"); -->
    <!--         let lobby = document.getElementById("lobby-input"); -->
    <!--         let old = document.getElementById("lobby-input-refresh"); -->
    <!--         old.value = lobby.value; -->
    <!--         old.setAttribute('value', lobby.value) -->
    <!--         console.log(lobby) -->
    <!--         console.log(old) -->
    <!--         refreshLobby.click() -->
    <!--     }); -->
    <!-- </script> -->
    {{ end }}
    {{ template "partialLobby" .}}
</div>


{{ template "footer.html" .}}
