<div class="flex flex-col w-full gap-2">
    <div class="flex justify-center items-center w-full gap-2">
        <div class="bg-kahootRed py-9 w-full h-full flex justify-center items-center">
            <img src="static/svgs/1.svg" width=40 height=40 />
        </div>

        <div class="bg-kahootBlue py-9 w-full h-full flex justify-center items-center">
            <img src="static/svgs/2.svg" width=40 height=40 />
        </div>
    </div>
    <div class="flex justify-center items-center w-full gap-2">
        <div class="bg-kahootGreen py-9 w-full h-full flex justify-center items-center">
            <img src="static/svgs/3.svg" width=40 height=40 />
        </div>
        <div class="bg-kahootYellow py-9 w-full h-full flex justify-center items-center">
            <img src="static/svgs/4.svg" width=40 height=40 />
        </div>
    </div>
</div>
