{{ template "head.html" .}}

<div id="Menu" hx-ext="ws" ws-connect="/socket" class="flex flex-col justify-center h-full">
    <div id="flashcard"
        class=" flex justify-center items-center border border-red-300 text-red-300 p-3 rounded-lg cursor-not-allowed opacity-50"
        hidden>
        Give me a name buddy!
    </div>

    {{ if .Cached}}
    {{ template "playerControls.html"}}
    {{ else }}
    {{ template "playerForm.html"}}
    {{end}}

    <script>
        //TODO:  I feel like this should be conditional!
        document.addEventListener("htmx:wsBeforeMessage", async function () {
            const name = document.getElementsByName("name")[0].value
            const lobby = document.getElementsByName("lobby")[0].value

            await cookieStore.set({
                name: 'player_lobby',
                value: lobby,
                expires: Date.now() + 1000 * 60 * 60 * 24,
                path: "/",
                sameSite: "lax",
                secure: true
            });

            await cookieStore.set({
                name: 'player_name',
                value: name,
                expires: Date.now() + 1000 * 60 * 60 * 24,
                path: "/",
                sameSite: "lax",
                secure: true
            });
        });
    </script>
</div>

{{ template "footer.html" .}}
